{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Dashboard{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'dashboard/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        
        
        <div class="bg-gradient-frame"></div>
        <div class="bg-gradient"></div>
        <div id="header">
            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link white" href="{% url 'index' %}">Dashboard</a>
                    </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link white" href="{% url 'datafields' %}">Data Fields</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white" href="{% url 'kpi' %}">Performance Indicator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white" href="{% url 'data' %}">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link white" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
                </ul>
            </nav>
            <div class="head-bg">
                <div class="nav-frame-bg"></div>
                <div class="nav-frame"></div>
            </div>
        </div>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {

                // Clear input field values
                function clearInput(input) {
                    input.value="";
                }

                // Pop-up for new Elements
                var newElement  = document.querySelector('#New');
                if(newElement){
            
                    // Initially hide new Data Fields form
                    newElement.style.display = "none";
            
                    // Reference html-tags
                    var newButton = document.querySelectorAll('.btn-New')[0];

                    // Show form for adding new Data Fields
                    newButton.addEventListener('click', function() {
                        
                        newElement.style.display = "block";
                        newButton.style.display = "none";
            
                        var newClose = document.querySelector('#close-New');
                        var newAdd = document.querySelectorAll('.btn-Add')[0];

                        function hideForm() {
                            newElement.style.display = "none";
                            newButton.style.display = "block";
                            // Reset input fields
                            var elements = document.getElementsByTagName("input");
                            for (var i=1; i < elements.length - 1; i++) {
                                elements[i].value = "";
                            }
                        }

                        // Close Button & Add Button for hiding new Data Fields form
                        newClose.addEventListener('click', hideForm);
                    });
                }
            });
        </script>


    </body>
</html>